{% extends 'project1/base.html' %}
{% load static %}



{% block Title %}
Essential
{% endblock %}
{% block act2 %}
active
{% endblock %}


{% block content %}
<style media="screen">
.poster
{
  position: relative;
  width: 100%;
  z-index: 1;
  background-color:  black;

}
.mid{
  background-color : black;
  z-index: -2;
}
</style>


<div class=" mid">
  <header class="h">
    <nav class="navbar navbar-expand-lg navbar-light hnav navbar-dark">
      <div class="col-lg-1">

      </div>
      <a class="navbar-brand" href="{% url 'index' %}">Images</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav col-lg-8">
          <li class="nav-item dropdown n1">
            <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">p1</a>
              <a class="dropdown-item" href="#">p2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">p3</a>
              <a class="dropdown-item" href="#">p4</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item n1">
            <a class="nav-link" href="{% url 'Blog' %}">Blog</a>
          </li>
          <li class="nav-item n1">
            <a class="nav-link" href="{% url 'Track' %}">Track your order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Signup' %}"><button type="button" class="btn btn-default btn-colour btn-h">Sign up</button></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="poster col-lg row">
    <div class="row content-1 row-c white">
      <div class="col-md-6 row-md white justify-content-center">
        <p>
          Holiday Ideas & Strategies
        </p>
        <h2>
          new
        </h2>
        <p>
          Beatriz Estay
          <span class="sep">/</span>
          7 min read
        </p>
        <input type="button" class="btn btn-primary s-btn" value="Start free trial">
        <a class="{% url 'Signup' %}"></a>
        </input>
      </div>
      <div class="col-lg-6 row-md p-4">
        <img src="{% static 'img/p6.jpg' %}" class="img-fluid" alt="Responsive image">



      </div>

    </div>





</div>


</div>
<br><br>
<!--content!-->
<div class="content">

  <div class="row content-1 row-c">
    <div class="col-lg-4 row-lg border-right text">
      <p>
        Holiday Ideas & Strategies
      </p>
      <h2>
        <a href="{% url 'cont1' %}">The 2020 BigCommerce Holiday Gift Guide</a>
      </h2>
      <p>
        Beatriz Estay
        <span class="sep">/</span>
        7 min read
      </p>
      <input type="button" class="btn btn-link">
      <a class="{% url 'cont1' %}">Read More <span>></span></a>
      </input>
    </div>
    <div class="col-lg-8 row-lg ima">
      <img src="{% static 'img/p4.jpg' %}" class="img-fluid" alt="Responsive image">



    </div>

  </div>

  <div class="row content-3 row-c">


    <div class="col-lg-8 row-lg ima">
      <img src="{% static 'img/p5.jpg' %}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-lg-4 row-lg border-left text">
      <p>
        Holiday Ideas & Strategies
      </p>
      <h2>
        <a href="{% url 'cont1' %}">The 2020 BigCommerce Holiday Gift Guide</a>
      </h2>
      <p>
        Beatriz Estay
        <span class="sep">/</span>
        7 min read
      </p>
      <input type="button" class="btn btn-link">
      <a class="{% url 'cont1' %}">Read More <span>></span></a>
      </input>
    </div>
  </div>
  <div class="row content-1 row-c">
    <div class="col-lg-4 row-lg border-right text">
      <p>
        Holiday Ideas & Strategies
      </p>
      <h2>
        <a href="{% url 'cont1' %}">The 2020 BigCommerce Holiday Gift Guide</a>
      </h2>
      <p>
        Beatriz Estay
        <span class="sep">/</span>
        7 min read
      </p>
      <input type="button" class="btn btn-link">
      <a class="{% url 'cont1' %}">Read More <span>></span></a>
      </input>
    </div>
    <div class="col-lg-8 row-lg ima">
      <img src="{% static 'img/p4.jpg' %}" class="img-fluid" alt="Responsive image">
    </div>

  </div>

</div>

{% endblock %}
