
{% extends 'project1/base.html' %}
{% load static %}
{% block Title %}
Sign in
{% endblock %}
{% block act4 %}
active
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">

{% endblock %}



{% block content %}





  <!-- form!-->


  <div class="text-center f-body">


    <form class="form-signin" action="Signin" method="post">
      {% csrf_token %}
  <!--<img class="mb-4" src="x" alt="" width="72" height="72">-->
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" id="username" class="form-control" name="username" placeholder="Email/Username" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" name="password" placeholder="Password" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button><br>
      {% for message in messages %}
      <div class="form-group d-flex justify-content-center font-weight-bold bg-danger text-white rounded-pill">
        {{message}}

      </div>

      {% endfor %}
      <div class="text-center justify-content-center log">Don't have an account? <a href="{% url 'Signup' %}"> Signup here</a>
      </div>

      <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    </form>

  </div>

{% endblock %}
