.poster
{
  position: relative;
  width: 100%;
  z-index: 1;
  background-color:  black;

}

.heading
{
  position: relative;
}
.submit-btn {
    margin-top: 9%;
    position: relative;
  }

  .cont-2 {
    margin-top: 1%;

  }

  .s-btn {
    border-radius: 20px;
  }

  .s-mail {
    border-radius: 5px;
    border: none;
  }

.cont-2  a {
    color: black;
  }
  .banner img {
    height: 480;
    width : 640;
  }
.break
{

}
.white{
  color: white;
}
.carousel
{
  position: inherit;
}
